.box-contain-table {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 150px;
}

.contain_loaded_file {
    display: flex;
    border: 2px solid #032B91;
    border-radius: 3px;
    flex-direction: column;
    overflow-y: auto;
    padding: 0 0;
    width: 95%;
}

.row-of-table {
    height: 50px;
    width: auto;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    flex-direction: row;

}

.row-of-table th,
.row-of-table td {
    border-right: 3px solid #032B91;
    color: #032B91;
    padding: 0 5px;
    position: relative;
}

.row-of-table td {
    color: #000;
}

.row-of-table th:last-child,
.row-of-table td:last-child {
    border-right: 0;
}

.contain_loaded_file tr {
    border-top: 1px solid #032B91;
}

.contain_loaded_file thead tr:first-child {
    border-top: 0;
}


.three-dots-more-detail {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.8;
}

.three-dots-more-detail:hover {
    opacity: 1;
}

.c1-of-table {
    width: 5%;
    text-align: center;
}

.c2-of-table {
    width: 50%;

}

.c3-of-table {
    width: 15%;
}

.c5-of-table {
    width: 20%;
}

.c4-of-table {
    width: 10%;
}

.c1-of-table,
.c3-of-table,
.c4-of-table,
.c5-of-table {
    display: flex;
    justify-content: center;
}

.add_button {
    position: sticky;
    top: 500px;
    left: 100%;

}

.add_button:hover {
    opacity: 0.7;
    cursor: pointer;
}