.background {
    width: 100%;
    display: flex;
justify-content: center;}

.backgroundImg{
width: 80%;
position: absolute;
top: 60%;
}
 .grap {
    width: 1024px;
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40%;


}

.button {
    border: none;
    background-color: transparent;
    transition: transform 0.3s ease;

}

.button:hover {
    transform: scale(1.1);

}

.even {
    position: relative;
    top: 124px;
}

