

.container {
    background-color: #ffffff;
    border: 1px solid #d1e0ff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header-filters {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
    background-color: #8cc8ff;
    border: 1px solid #032B91;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
}

.header {
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 0px;
}

.header .header-h2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
}

.filters {
    display: flex;
    flex-grow: 1;
    gap: 15px;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.date-group {
    width: 350px;
}

.mssv-group {
    width: 150px;
}

.paper-size-group {
    width: 180px;
}

.printer-group {
    width: 150px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-container .input-label {
    font-size: 14px;
    color: #ffffff;
    margin-right: 5px;
    white-space: nowrap;
}

.input-container .input[type="date"],
.input-container .input[type="text"],
.input-container #paper-size {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #d1e0ff;
    width: 100%;
}

.checkbox-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

.checkbox-container .input {
    margin-right: 5px;
}

.checkbox-container .input-label {
    font-size: 12px;
    color: #ffffff;
}

.filter-button {
    background-color: #0047ab;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    height: 38px;
    align-self: center;
}

.filter-button:hover {
    background-color: #003380;
}




/*---------------------------------------------*/
/* body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f7fa;
}

.list-table {
    width: 100%;
    border-spacing: 0;
    margin-top: 20px;
    border: 2px solid #032B91;
}

.list-table-cl-h, .list-table-cl {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-right: 2px solid #032B91; 
}

.list-table-cl-h:last-child {
    border-right: none;
}

.list-table-cl-h {
    font-weight: bold;
    border-bottom: 3px solid #032B91;
}


.list-table-cl:last-child {
    border-right: none;
}

.list-table-row:last-child .list-table-cl {
    border-bottom: none;
}

.list-table-row:nth-child(even) {
    background-color: #f9f9f9;
}

.list-table-row:hover {
    background-color: #e6f0ff;
}

.list-table-p {
    margin: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid;
} */